/ProjetoSupermercado/build/
/pSupermercado/build/
/ProjetoSupermercado/ProjetoSupermercado/build/
/ProjetoSupermercado/ProjetoSupermercado/nbproject/private/
/web/ProjetoSupermercado/build/
/web/ProjetoSupermercado/nbproject/private/
/web/build/